.page-align {
    display: flex;
    flex-direction: column;
}

.content {
    margin : 10px;
    padding: 20px;
}

.header-text {
    width: 80%;
}

.interact-section {
    margin: 40px 0px 0px 0px;
}

.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-elem {
    margin: 5px 0px;
}

.inline-block {
    margin: 5px 0px;
    display: inline-block;
}

.inline-logo {
    background: linear-gradient(30deg, rgba(58,134,255,1) 0%, rgba(255,0,110,1) 54%, rgba(251,86,7,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green {
    color: #2DC653;
}

.center-content {
    width: max-content;
}

.skip {
    color: #cccccc;
    text-decoration: underline;
    cursor: pointer;
}

.skip:active {
    color: #7ce0ff;
    outline: none;
}


/* PC */
@media only screen and (min-width: 1367px) {
    .content {
        margin : 10px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-text {
        width: 300px;
    }

    .interact-section {
        margin: 40px 20px;
        width: 60%;
    }

    .form-elem {
        margin: 5px 0px;
        width: 600px;
    }

    .inline-block {
        margin: 5px 0px;
        display: inline-flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .content {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .interact-section {
        width: 60%;
    }
}