@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.app {
  font-family: 'Quicksand', 'Mitr', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #3A3A3A;
  margin: 5px 0px;
}

form {
  width: 65vw;
}

input {
  font-family: 'Quicksand', 'Mitr', sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #3A3A3A;
  padding: 10px 12px;
  margin: 5px 0px;
  width: 100%;
  outline: none;

  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

input:focus {
  outline: 1px solid rgba(131,56,236,1);
}

input::placeholder {
  color: #C4C4C4;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 14px;
  margin: 10px 0px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(30deg, rgba(255,0,110,1) 0%, rgba(131,56,236,1) 100%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  height: 30px;
}

.p-emoji {
  height: 12px;
}